

#card-wrapper {
  display: flex;
  flex-flow: row wrap; 
  gap: 20px;
}

.card {
  flex: 1 2 200px;
}

.card-head {
  font-size: 1rem;
  font-weight: 500;
  font-variant: all-petite-caps;
  color: var(--header);
  margin-bottom: 1rem;
  position: sticky;
}

.card > p {
  margin: 10px 0;
}