#hourbyhour {
  overflow-x: hidden;
  flex: 1 1 100%;
}

.toggle-buttons {
  display: flex;
  flex-flow: row nowrap;
  height: 1.5rem;
}

.toggle-hour-field {
  padding: 0 .25rem;
  border: none;
}

.toggle-hour-field:disabled {
  color: black;
  background-color: lightgray;
}

.table-overlay {
  overflow: scroll;
  overscroll-behavior: contain;
}

table {
  text-align: center;
  margin-bottom: 1rem;
  overscroll-behavior: contain;
}

tr {
  max-width: 600px;
}

td {
  font-weight: 600;
}

th {
  padding: 8px;
  background-color: var(--translucent);
  font-weight: 300;
  text-align: center;
}
