:root {
  --text-color: black;
  --background-color: aliceblue;
  --warmer: #B74F4F;
  --cooler: #4964DD;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  background-image: url('./assets/cloudy-big.jpeg');
  background-position: 0;
  padding: 60px;
  display: flex;
  flex-flow: column;
}

h1 {
  margin-bottom: 2rem;
}

.warmer, .cooler {
  font-weight: 500;
}

.warmer {
  color: var(--warmer);

}

.cooler {
  color: var(--cooler);
}

.hour-by-hour, .card {
  background-color: #ffffff66;
}

.card-wrapper, .hour-by-hour {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.card-wrapper {
  display: flex;
  flex-flow: row wrap; 
  gap: 20px;
}

.card {
  flex: 1 1 250px;
  padding: 20px;
  border-radius: 12px;
}

.card > h1, .hour-by-hour > h1 {
  font-size: 1rem;
  font-weight: 500;
  font-variant: all-petite-caps;
  color: #757575;
  margin-bottom: 1rem;
}

.card > p {
  margin: 10px 0;
}